.cart--sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 22rem;
    background-color: #ffffff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    overflow-y: auto;
    z-index: 50;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.cart--sidebar.open {
    transform: translateX(0);
}

.familia{
    font-family: Georgia, times, serif;
}

.cart--title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.cart--empty {
    color: #6b7280;
}

.boton{
    margin-top: 1rem;
    color: white;
    width: 100%;
    padding: 0.5rem 0;
    border-radius: 0.375rem;
    transition: background-color 0.2s;
}

.boton--pago {

    background-color: #1b1f25;
}

.boton--pago:hover {
    background-color: #747c84;
}

.close--button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: #4b5563;
    font-size: 1.25rem;
    background: none;
    border: none;
    cursor: pointer;
}
